@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Schoolbell');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Schoolbell', cursive;

font-weight:300;
font-weight:700;

*/

/* --------------- colors
#98c601       vert
#fa9401       orange (pamplemousse)
#f27000       orange foncé
#d5014e       framboise

*/

*{
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 15px;
  font-weight:300;
}

strong {
  font-weight:700;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight:300;
}

/* --------------- Resets */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
