
/*-- ------------------------------les citations */
.block_citation{
  margin-bottom: 2vh;
  position:relative;
}

@media (max-width: 600px){
  .block_citation{
  }
}

.block_citation::before{
  content: "";
  height: 14vh;
  width: 16vh;
  background-image: url('../../images/la_bulle.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  top: -92px;
  left: -110px;
  z-index: 1;
}

@media (max-width: 600px){
  .block_citation::before{
    display:none;
  }
}

.citation {
  font-family: 'Schoolbell', cursive;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.2em;
}
.citation span {
    display:block;
}

.citation span.big {
  font-size: 3em;
}

.content_section1 .citation span.big {
  font-size: 2em;
  line-height: .9em;
}

.author {
  font-family: 'Schoolbell', cursive;
}

.author span {
    display:block;
}

.author span.small {
  font-size: .8em;
}

/*-- ------------------------------ paragraphes */

.titre_intro {
  margin-bottom: 2.1vh;
  font-family: 'Schoolbell', cursive;
  text-transform: uppercase;
  font-size: 1.5em;
}

.home .light{
  margin-bottom: 2vh;
}

.bold{
  font-weight:700;
}

/*-- ------------------------------ titre section */
.section_title {
  font-family: 'Schoolbell';
  font-size: 2.5em;
  text-align: center;
  padding-top: 8vh;
  padding-bottom: 4vh;
}
.section_title_main {
  padding: 0;
  text-transform: none;
  font-size: 2.5em;
}

/*-- ------------------------------ block_number */
.block_number{
  position: absolute;
  right: 0;
  top:0;
  z-index: 10;
  padding-left: 4vw;
}

.introduce_number{
  font-family: 'Schoolbell';
  font-size: 2.5em;
  color: white;
  display: inline-block;
  padding: 1vh;
  background-color: #d5014e;
  border-radius: 2vh;
  text-align: center;
}

.block_number .flex{
align-items: baseline;
}

.number{
  font-family: 'Schoolbell';
  font-size: 9em;
  display: block;
  color: #d5014e !important;
}

.number_small{
  font-size: 2em;
  font-family: 'Schoolbell';
  display: block;
  color: #d5014e !important;;
}

@media (max-width: 600px){
  .introduce_number {
    font-size: 1.7em;
  }
  .number{
    font-size: 5em;
  }
  .number_small{
    font-size: 1.7em;
}
}

/*-- ------------------------------ read more */
.block_readmore .titre_intro{
   text-align: center;
}

.block_readmore summary::-webkit-details-marker {
  display: none
}

/*-- ------------------------------ background */
.background * {
  color: white;
}

/*-- ------------------------------ font color */
.white {
  color: white;
}
